/*
  Course: INT-499 Capstone in Information Technology
  Instructor: John Russel
  Joshua Coman
*/


.navbar {
  display: flex;
  justify-content: space-between; /* Keep title on the left */
  align-items: center;
  background: #007BFF; /* Blue header */
  color: white;
  padding: 10px 20px;
}

.navbar h1 {
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  margin-left: auto; /* Push menu to the right */
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}
